@using ArtAuction.Core.Domain.Enums
@model ArtAuction.WebUI.Models.Profile.UserOperationsViewModel

@{
    ViewData["Title"] = "Profile";
}

<div class="text-center">
    <h1 class="display-4">
        @if (Model.User.IsVip)
        {
            <i class="fa-solid fa-crown mr-2"></i>
        }
        Profile @Model.User.Login
    </h1>
    <h4>Balance: @(((decimal)ViewData["AccountBalance"]).ToString("#0.00")) $</h4>

    <form class="form-inline justify-content-center mt-3 mb-3" asp-controller="Payment" asp-action="ReplenishPersonalAccount">
        <div class="form-group">
            <input id="replenishmentAmount" name="replenishmentAmount" class="form-control" value="1000" />
        </div>
        <div class="form-group ml-2">
            <input type="submit" value="Replenish" class="btn btn-lg btn-info" />
        </div>
    </form>

    @if (User.Identity.IsAuthenticated && User.IsInRole(UserRole.Seller.ToString()))
    {
        @if (Model.User.IsVip)
        {
            <h5>You are already a <i class="fa-solid fa-crown mr-1"></i>VIP Seller!</h5>
        }
        else
        {
            <a asp-controller="Payment" asp-action="BuyVipStatus" class="btn btn-lg btn-primary">
                Buy VIP on @(ViewData["VipStatusDaysCount"]) days (@(ViewData["VipStatusCost"])$)
            </a>
            <a asp-controller="Payment" asp-action="BuyVipByCard" class="btn btn-lg btn-primary">
                Buy VIP by Card
            </a>   
        }
    }
    
    <h2 class="mt4">Operations</h2>

    <table class="mt-2 mb-3"
           data-toggle="table"
           data-pagination="true"
           data-pagination-h-align="left"
           data-pagination-detail-h-align="right"
           data-search="true"
           data-show-columns="true"
           data-sort-class="table-active"
           data-sortable="true"
           data-page-list="[5, 10, 25, 50, 100, all]">
        <thead>
        <tr>
            <th>Date</th>
            <th>Operation</th>
            <th>Sum</th>
            <th>Before</th>
            <th>After</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>    
    
        @foreach (var operation in Model.Operations)
        {
            <tr>
                <td>@operation.DateTime.ToString("MM/dd/yyyy HH:mm:ss")</td>
                <td>@operation.OperationType.ToString()</td>
                <td>@operation.SumOperation.ToString("#0.00") $</td>
                <td>@operation.SumBefore.ToString("#0.00") $</td>
                <td>@operation.SumAfter.ToString("#0.00") $</td>
                <td>@operation.Description</td>
            </tr>
        }

        </tbody>
    </table>

</div>