@using ArtAuction.Core.Domain.Enums
@model ArtAuction.WebUI.Models.Profile.UserProfileViewModel

@{
    ViewData["Title"] = "User Profile";
}

<div class="text-center">
    <h1 class="display-4">
        @Model.User.Role.ToString() : Profile "@Model.User.Login"

        @if (User.Identity.IsAuthenticated && User.IsInRole(UserRole.Administrator.ToString()))
        {
            if (Model.User.IsBlocked)
            {
                <a class="btn btn-outline-danger btn-sm" asp-action="UnblockUser" asp-controller="Admin"
                   asp-route-userLogin="@Model.User.Login">
                    Unblock
                </a>
            }
            else
            {
                <a class="btn btn-outline-danger btn-sm" asp-action="BlockUser" asp-controller="Admin"
                   asp-route-userLogin="@Model.User.Login">
                    Block
                </a>
            }
        }

    </h1>
    <h3>Rate: <i class="fa-solid fa-star ml-1 mr-1"></i>@Model.User.AvgRate.ToString("F1")</h3>
</div>

<partial name="Profile/_ReviewsModalPartial" model="Model" />
<partial name="Profile/_ComplaintsModalPartial" model="Model" />

<partial name="Profile/_AddComplaintModalPartial" model="Model" />
<partial name="Profile/_AddReviewModalPartial" model="Model" />

<partial name="Profile/_UserAuctionsPartial" model="Model" />