@model ArtAuction.WebUI.Models.AuctionCatalog.AuctionCatalogViewModel

<div class="d-flex justify-content-center mt-3">
    <ul class="pagination">

        @if (Model.Pagination.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-route-pageNumber="@(Model.Pagination.PageNumber - 1)"
                   asp-route-category="@string.Join(',', Model.Filter.Categories.Where(c => c.Selected).Select(c => c.Value))"
                   asp-route-minCurrentPrice="@Model.Filter.MinCurrentPrice"
                   asp-route-maxCurrentPrice="@Model.Filter.MaxCurrentPrice"
                   asp-route-onPage="@Model.OnPage"
                   asp-route-sort="@Model.Sort">
                    Previous
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
        }

        <li class="page-item disabled">
            <a class="page-link">@(Model.Pagination.PageNumber)</a>
        </li>

        @if (Model.Pagination.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link"
                   asp-route-pageNumber="@(Model.Pagination.PageNumber + 1)"
                   asp-route-category="@string.Join(',', Model.Filter.Categories.Where(c => c.Selected).Select(c => c.Value))"
                   asp-route-minCurrentPrice="@Model.Filter.MinCurrentPrice"
                   asp-route-maxCurrentPrice="@Model.Filter.MaxCurrentPrice"
                   asp-route-onPage="@Model.OnPage"
                   asp-route-sort="@Model.Sort">
                    Next
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link">Next</a>
            </li>
        }

    </ul>
</div>