@using ArtAuction.Core.Domain.Enums
@using ArtAuction.WebUI.Models.AuctionCatalog

@model ArtAuction.WebUI.Models.AuctionCatalog.AuctionCatalogViewModel

@{
    ViewData["Title"] = "Auction Catalog Page";
}

<div class="text-center">
    <h1 class="display-4">Auction Catalog</h1>
    @if (User.Identity.IsAuthenticated && User.IsInRole(UserRole.Seller.ToString()))
    {
        <a asp-controller="AuctionCatalog" asp-action="AddAuction" class="btn btn-lg btn-primary">Create Auction</a>
    }
    <p>Auction Catalog</p>
</div>

<form asp-action="Index" method="get">
    <div class="d-flex flex-column flex-md-row">
        <div class="d-flex flex-column col-md-3 p-2">
            @foreach (var category in Model.Filter.Categories)
            {
                <div class="form-check">
                    <input class="form-check-input" id="@category.Value" type="checkbox" name="Category" value="@category.Value" checked="@category.Selected" />
                    <label class="form-check-label">@category.Text</label>
                </div>
            }

            <input type="submit" class="btn btn-primary" value="Filter" />
        </div>
        <div class="col-md-9 p-2">
            <div class="d-flex justify-content-between">
                <div class="form-group">
                    <select asp-for="Sort" class="form-control" asp-items="@Html.GetEnumSelectList<Sort>()"></select>
                </div>
                <div>On page</div>
            </div>
            <div class="d-flex flex-wrap justify-content-around">
                <div class="col-xl-4 col-sm-6 p-2">Card1</div>
                <div class="col-xl-4 col-sm-6 p-2">Card2</div>
                <div class="col-xl-4 col-sm-6 p-2">Card3</div>
                <div class="col-xl-4 col-sm-6 p-2">Card4</div>
                <div class="col-xl-4 col-sm-6 p-2">Card5</div>
            </div>
            <div class="d-flex justify-content-center">Paging</div>
        </div>
    </div>
</form>